<section class="intro">
  <div class="container">
    <p class="lead">I'm Dylan Green, a third year student in UBC's Engineering Physics program.
    <br>  <br>
    I am primarily interested in electronics, software and physics,
    but enjoy anything that involves out-of-the-box thinking and solving difficult problems.
    <br>  <br>
    In my spare time you'll find me tinkering with vintage electronic 
    instruments and eating my way into debt at one of Vancouver's many amazing restaurants. 
    <br>  <br>
    I am currently looking for a 4-8 month work term, starting in May. Happy browsing!</br></p>
  </div>
</section>
