<section class="intro">
  <div class="container">
    <p class="lead">I'm a third year student in UBC's Engineering Physics program. I am primarily interested in electronics, software and physics,
    but enjoy anything that involves out-of-the-box thinking and solving difficult problems. In my spare time you'll find me tinkering with vintage electronic 
    instruments and racking up my student debt at restaurants I can't afford to eat at. I am currently looking for a 4-8 month work term starting in May. Happy browsing!</br></p>
  </div>
</section>
